<section class="contact-us-cta" aria-label="Contact Us CTA">
    <div class="custom-container">
        <div class="flex justify-center items-center">
            <button class="contact-us-btn flex flex-center">
                <img class="icon" src="../assets/images/location-filled-white.png" alt="">
                <span>Find a branch/phone number near you</span>
            </button>
            <button class="contact-us-btn flex flex-center">
                <img class="icon" src="../assets/images/mail-filled-white.png" alt="">
                <span>Contact Us</span>
            </button>
        </div>
    </div>
</section>